<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidclass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".plant_record.PlantRecordAddActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".plant_record.PlantRecordActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".plant_know.PlantKnowActivity" />
        <activity android:name=".plant_des.PlantGridDesActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".plant_grid.PlantGridActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".plant_des.PlantDesActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".plant_list.PlantListActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".plant_home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".classtraining.ViewPager.Main2Activity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".classtraining.RateCalcActivity"-->
<!--            android:theme="@style/Theme.AppCompat.Dialog">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".classtraining.MyAdapter" />-->
<!--        <activity android:name=".classtraining.MyList2Activity" />-->
<!--        <activity android:name=".classtraining.MyLitst" />-->
<!--        <activity android:name=".classtraining.RateListActivity" />-->
<!--        <activity android:name=".classtraining.ConfigActivity" />-->
<!--        <activity android:name=".classtraining.RateActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".classtraining.ScoreActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>